@import "@/_styles/variables.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
li,
ol {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  cursor: pointer;
}

input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
}
textarea {
  resize: none;
}

body {
  width: 100%;
  line-height: 1;
}

main {
  min-height: calc(100vh - 60px);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; /* 원하는 배경색으로 변경 */
}

.Toastify__toast {
  background: var(--white) !important;
  background: var(--radial-bg) !important;
  border: 1px solid rgba(235, 235, 235, 0.45) !important;
}
.Toastify__toast-body > div:last-child {
  word-break: keep-all !important;
  font-size: 14px !important;
  line-height: 1.4 !important;
}

@keyframes fade-move-up {
  // memo: 자바스크립트 용
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  70% {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-up {
  // memo: 자바스크립트 용
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shine {
  // memo: 자바스크립트 용
  to {
    background-position: -200% 0;
  }
}

.global-pc-visible {
  display: block;
  @include mobile {
    display: none;
  }
}

.global-mobile-visible {
  display: none;
  @include mobile {
    display: block;
  }
}

.global-medium-visible {
  display: none;
  @include medium {
    display: block;
  }
}

:root {
  body {
    color: black;
    background-color: white;
  }
  --white: white;
  --text-white: white;
  --black: black;

  --pink-soft: rgba(255, 176, 176, 0.7);
  --pink: rgba(255, 138, 138, 0.8);
  --pink-hard: rgba(229, 106, 106, 0.9);

  --gray-softest: rgba(225, 225, 225, 0.15);
  --gray-soft: rgba(235, 235, 235, 0.45);
  --gray: rgba(161, 161, 161, 0.6);
  --gray-hard: rgb(158, 158, 158);

  --border: rgba(214, 214, 214, 0.7);

  --purple: rgba(217, 171, 255, 0.875);
  --purple-hover: rgba(190, 111, 255, 0.9);
  --purple-hard: rgba(170, 68, 254, 0.9);

  --orange: rgba(255, 182, 126, 0.875);
  --orange-hover: rgba(255, 148, 34, 0.903);

  --black-soft: rgb(80, 80, 86);

  --bg-color: rgba(249, 249, 249, 0.8);
  --shadow-color: rgba(0, 0, 0, 0.08);

  --red: rgba(255, 82, 79, 0.8);

  --input-color: rgba(234, 234, 234, 0.4);
  --radial-bg: radial-gradient(circle, rgba(255, 255, 255, 1) 70%, rgba(255, 241, 244, 1) 100%);
  --black-transparent: rgba(0, 0, 0, 0.1);
  --overlay: rgba(0, 0, 0, 0.3);

  --green: rgba(94, 255, 94, 0.8);
  --green-hard: rgba(81, 255, 81, 0.9);

  --candidate-height: 94px;
  --image-candidate-height: 154px;
  --post-card-thumbnail-height: 150px;
}

@include mobile {
  body {
    --candidate-height: 80px;
    --image-candidate-height: 154px;
    --post-card-thumbnail-height: 100px;
  }
}

body.dark {
  color: white;
  background-color: black;
  i {
    color: white;
  }
  .Toastify__toast {
    border-color: transparent !important;
  }
  background-color: rgb(15, 15, 15);
  --white: rgb(15, 15, 15);
  --text-white: white;
  --black: white;

  --pink-soft: rgba(229, 106, 106, 1);
  --pink: rgba(255, 138, 138, 1);
  --pink-hard: rgba(255, 176, 176, 1);

  --gray-softest: rgba(68, 68, 68, 0.15);
  --gray-soft: rgba(68, 68, 68, 0.45);
  --gray: rgba(104, 104, 104, 0.6);
  --gray-hard: rgb(125, 125, 125);

  --border: rgb(63, 63, 63);

  --purple: rgba(217, 171, 255, 1);
  --purple-hover: rgba(190, 111, 255, 1);

  --orange: rgba(255, 182, 126, 1);
  --orange-hover: rgba(255, 148, 34, 1);

  --black-soft: rgb(255, 255, 255);

  --bg-color: black;
  --shadow-color: rgba(255, 255, 255, 0.08);

  --red: rgba(242, 60, 60, 0.8);

  --input-color: rgba(255, 255, 255, 0.1);
  --radial-bg: rgb(15, 15, 15);
  --black-transparent: rgba(255, 255, 255, 0.3);
  --overlay: rgba(0, 0, 0, 0.5);

  --green: rgba(105, 246, 105, 0.8);
  --green-hard: rgba(81, 255, 81, 0.9);
}
