@import "@/_styles/variables.scss";

.global-page {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 180px;
  .global-page-content {
    width: $content-width;
    padding: 30px 0;
    min-height: calc(100vh - 60px);
    @include medium {
      width: 100%;
      padding: 30px 8px;
    }
    .global-page-title {
      position: relative;
      margin-bottom: 20px;
      h1 {
        padding-right: 20px;
        padding-left: 5px;
        font-size: 20px;
        position: relative;
        background-color: var(--bg-color);
        display: flex;
        align-items: center;
        width: fit-content;
        img {
          width: 35px;
          height: 35px;
          margin-right: 10px;
        }
        @include mobile {
          font-size: 17px;
          img {
            width: 25px;
            height: 25px;
            margin-right: 8px;
          }
        }
      }
      &::before {
        @include center;
        content: "";
        height: 1px;
        width: 100%;
        background-color: var(--border);
      }

      .global-page-arrows {
        position: absolute;
        display: flex;
        gap: 10px;
        padding-left: 20px;
        top: 50%;
        right: 0;
        background-color: var(--bg-color);
        transform: translateY(-50%);
        z-index: 20;
        .arrow {
          width: 36px;
          height: 36px;
          @include border;
          border-radius: 100%;
          @include flex;
          i {
            color: var(--black-soft);
            font-size: 13px;
          }
          &:hover {
            border-color: var(--pink);
            i {
              color: var(--pink);
            }
          }
        }
      }
    }
    .global-page-popular {
      width: $content-width;
      margin-bottom: 40px;
      article {
        height: 360px; // memo: 어쩔수 없는 선택
      }
      @include mobile {
        width: 100%;
        margin-bottom: 20px;
        article {
          height: 300px; // memo: 어쩔수 없는 선택
        }
      }
    }
  }
  .global-page-loading {
    padding-top: 180px;
  }
}
