@import "@/_styles/variables.scss";

// POST PAGE
.post-page {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;

  // POLLING POST PAGE RESULT
  &.polling.isResultPage {
    padding-bottom: 100px;
    .content {
      height: auto;
      .left {
        overflow: visible;
      }
    }
  }

  // CONTEST POST PAGE RESULT
  &.contest.isResultPage {
    .content {
      overflow: hidden;
    }
  }
}

// CONTENT COMMON STYLE
.post-page .content {
  width: $content-width;
  display: flex;
  height: calc(100vh - 80px - 100px - 35px); // todo:
  justify-content: center;

  position: relative;

  @include border();
  border-radius: 10px;
  padding: 12px;
}
