$pink: rgba(255, 138, 138, 0.8);
$pink-soft: rgba(255, 176, 176, 0.7);
$pink_hover: rgba(229, 106, 106, 0.9);
$red: rgba(255, 81, 81, 0.8);
$red_hover: rgba(255, 81, 81, 0.9);
$gray: rgba(235, 235, 235, 0.5);
$border: rgba(214, 214, 214, 0.7);
$gray-hover: rgba(234, 234, 234, 0.4);
$purple: rgba(201, 135, 255, 0.875);
$purple-hover: rgba(190, 111, 255, 0.903);

@mixin flex_center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute_center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$z-index-map: (
  overlay: 1000,
  modal: 1100,
);

@mixin z-index($id) {
  z-index: map-get($z-index-map, $id);
}
