$pink-soft: rgba(255, 176, 176, 0.7);
$pink: rgba(255, 138, 138, 0.8);
$pink-hard: rgba(229, 106, 106, 0.9);

$gray-soft: rgba(235, 235, 235, 0.45);
$gray: rgba(161, 161, 161, 0.6);
$gray-hard: rgb(158, 158, 158);

$border: rgba(214, 214, 214, 0.7);

$purple: rgba(217, 171, 255, 0.875);
$purple-hover: rgba(190, 111, 255, 0.903);

$black-soft: rgb(80, 80, 86);

$bg-color: rgba(249, 249, 249, 0.8);
$shadow-color: rgba(0, 0, 0, 0.08);

$red: rgb(255, 82, 79, 0.8);

$content-width: 1000px;
$candidate-height: 96px;
$image-candidate-height: 154px;

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin full() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

$z-index-map: (
  overlay: 1000,
  modal: 1100,
);

@mixin z-index($id) {
  z-index: map-get($z-index-map, $id);
}

@mixin border($color: $border) {
  border: 1px solid $color;
}

@mixin bg-shine() {
  background: linear-gradient(45deg, $pink, #f5ff62, $pink);
  background-size: 200% 200%;
  animation: shine 2s linear infinite;
}

@mixin shine {
  @keyframes shine {
    to {
      background-position: -200% 0;
    }
  }
}

@mixin fade-move-up {
  @keyframes fade-move-up {
    from {
      opacity: 0;
      transform: translateY(100%);
    }

    70% {
      transform: translateY(0);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@mixin scale-up {
  @keyframes scale-up {
    from {
      transform: scale(0.3);
    }
    to {
      transform: scale(1);
    }
  }
}

@mixin shakeX {
  @keyframes shakeX {
    0% {
      transform: translateX(0);
    }

    6.5% {
      transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
      transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
      transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
      transform: translateX(2px) rotateY(3deg);
    }

    50% {
      transform: translateX(0);
    }
  }
}
