@import "@/_styles/variables.scss";

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  @include medium {
    grid-template-columns: 1fr 1fr;
  }
  @include mobile {
    gap: 5px;
  }
}

.loading-wrapper {
  width: 100%;
  height: 360px;
  position: relative;
}
