@import "@/_styles/variables.scss";

$profile-width: 40px;

.comment {
  &-area {
    display: grid;
    gap: 15px;
    grid-template-columns: $profile-width 1fr;
    padding: 0 10px;
    padding-top: 5px;
    &-profile {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      img {
        width: $profile-width;
        height: $profile-width;
        border-radius: 100%;
        border: 3px solid rgba(255, 138, 138, 0.2);
        transition: border 350ms;
        &.focus {
          border-color: $pink-soft;
        }
      }
    }

    &-name-space {
      display: flex;
      align-items: center;
      gap: 7px;
      .name {
        font-size: 14px;
        line-height: 1.5;
      }
    }

    &-text {
      &-inner {
        width: 100%;
        position: relative;
        border-bottom: 2px solid $border;
        transition: border 800ms;

        z-index: 10;

        &.focus {
          border-color: white;
          .border {
            width: 100%;
          }
        }
        .border {
          position: absolute;
          left: 50%;
          bottom: -2px;
          height: 2px;
          background: $pink-soft;
          transform: translateX(-50%);
          transition: width 340ms ease-in-out;
          width: 0px;
        }

        button {
          width: 150px;
        }
      }
      textarea {
        width: 100%;
        padding: 7px 0 1px 0;
        line-height: 1.3;
        font-size: 14px;
        position: relative;
      }
    }

    &-content {
      line-height: 1.3;
      font-size: 14px;
      padding: 3px 0 1px 0;
      word-break: keep-all;
      margin-bottom: 1px;
    }

    .like {
      display: flex;
      align-items: center;
      gap: 2px;
      &-btn {
        padding: 2px 2px 2px 0;
        i {
          font-size: 14px;
          line-height: 1.5;
        }
      }
      span {
        font-size: 12px;
      }
    }

    &-btn {
      justify-content: flex-end;
      padding-top: 10px;

      &-inner {
        display: flex;
        gap: 8px;
        button {
          padding: 6px 12px;
          font-size: 14px;
          border-radius: 8px;
        }
        .cancel {
          width: fit-content;
          background-color: $gray-soft;
        }
        .submit {
          width: fit-content;
          background-color: $pink;
          color: white;
        }
      }
    }
  }
}

.comments {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
