@import "@/_styles/variables.scss";

$side-width: 300px;

.header {
  width: 100%;
  min-height: 60px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  @include z-index(header);

  border-bottom: 1px solid rgba(214, 214, 214, 0.7);
  background-color: white;

  .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .left {
    width: $side-width;
    display: flex;
    align-items: center;
    img {
      width: 40px;
    }
    button {
      width: 42px; // memo: aside는 52
      height: 100%;
      .icon {
        @include flex;
        i {
          font-size: 17px;
        }
      }
    }
  }

  // .center {

  // }

  .right {
    width: $side-width;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    a {
      padding: 9px 15px;
      border-radius: 6px;
      span {
        font-size: 0.9rem;
        font-weight: 600;
        color: white;
      }
    }
    .login {
      width: 80px;
      background-color: $pink;
      @include flex();
      &:hover {
        background-color: $pink-hard;
      }
    }
    .new-post {
      background-color: $purple;
      &:hover {
        background-color: $purple_hover;
      }
    }
  }
}

.ghost {
  height: calc(40px + 20px);
}

@keyframes identifier {
  from {
    height: 0;
    z-index: 100;
    transform: translateY(-400px);
  }
  99% {
  }
  to {
    height: 400px;
    z-index: 100;
    transform: translateY(60px);
  }
}

@keyframes identifier-2 {
  from {
    height: 400px;
    z-index: 100;
    transform: translateY(60px);
  }
  99% {
    height: 400px;
    z-index: 100;
  }
  to {
    height: 0;
    z-index: -1;
    transform: translateY(-400px);
  }
}
