@import "@/_styles/variables.scss";

$side-width: 300px;

.header {
  &-padding {
    height: calc(40px + 20px);
  }
  width: calc(100% - 40px);
  height: 40px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgba(214, 214, 214, 0.7);
  background-color: white;

  .left {
    width: $side-width;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      width: 40px;
    }
  }
  .right {
    width: $side-width;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    a {
      padding: 9px 15px;
      border-radius: 6px;
      span {
        font-size: 0.9rem;
        font-weight: 600;
        color: white;
      }
    }
    .login-btn {
      background-color: $pink;
      &:hover {
        background-color: $pink-hard;
      }
    }
    .new-post-btn {
      background-color: $purple;
      &:hover {
        background-color: $purple_hover;
      }
    }
  }

  &-search {
    position: fixed;
    top: 10px; // memo: 패딩값
    left: 50%;
    z-index: 30;
    transform: translateX(-50%);
  }
}
