@import "@/_styles/global.scss";
@import "@/_styles/variables.scss";

.header {
  width: auto;
  height: 50px;
  padding: 8px 12px;
  display: flex;
  position: relative;
  justify-content: space-between;
  border-bottom: 1px solid rgba(214, 214, 214, 0.7);
  .left {
    width: 40px;
    height: 100%;
    @include flex_center();
    img {
      width: 40px;
    }
  }
  .right {
    @include flex_center();
    a {
      padding: 9px 15px;
      border-radius: 6px;
      background-color: $pink;
      span {
        font-size: 0.9rem;
        font-weight: 600;
        color: white;
      }
      &:hover {
        background-color: $pink_hover;
      }
    }
  }

  .center {
    z-index: 1100;
  }
}
