@import "@/_styles/variables.scss";

.favorite-loading {
  &-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include flex_center();
  flex-direction: column;

  &-inner {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
    width: 40px;
    height: 40px;
  }
  &-icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(0deg);
    opacity: 0;
    font-size: 40px;
    color: $pink-soft;
    &:nth-of-type(1) {
      animation: rotate_1 3000ms infinite;
    }
    &:nth-of-type(2) {
      animation: rotate_2 3000ms infinite;
    }
    &:nth-of-type(3) {
      animation: rotate_3 3000ms infinite;
    }
  }
  span {
    display: inline-block;
    font-size: 12px;
    text-align: center;
  }
}
