@import "@/_styles/variables.scss";

.contest-post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  &.result {
    padding-bottom: 100px;
    .content {
      height: auto;
      min-height: calc(100vh - 100px - 60px);
      background-color: var(--white);
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      padding-bottom: 50px;
      .candidates {
        margin-bottom: 30px;
      }
    }
  }
}

.content {
  width: $content-width;
  background-color: var(--gray-soft);
  position: relative;

  @include border();
  border-radius: 10px;

  .candidates {
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px - 80px);
    .left,
    .right {
      height: 100%;
      width: 100%;
    }
  }
}

.comment-section {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include section-title;
}
