@import "@/_styles/global.scss";
@import "@/_styles/variables.scss";

.candidate {
  &-list {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;

    .gradient {
      position: absolute;
      width: 395px; // memo: 부모가 콘텐츠 전체임
      height: 80px;
      background-color: red;
      left: 10px;
      z-index: 10;
    }
    .top-div {
      top: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
    }
    .bottom-div {
      bottom: 0;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &-card {
    padding: 1px;
    border-radius: 11px;
    opacity: 0;
    position: relative;

    &.selected,
    &.onView {
      background: linear-gradient(45deg, $pink, #f5ff62, $pink);
      background-size: 200% 200%;
      animation: shine 2s linear infinite;
      opacity: 1;
      .candidate-card-inner {
        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 23%, rgba(255, 241, 244, 1) 100%);
        h3 {
          color: $pink-hover;
        }
      }
    }

    .number-one {
      position: absolute;
      width: 25px;
      height: 22px;
      z-index: 20;
      top: -12px;
      left: -12px;
      transform: rotate(-45deg);
    }

    .number {
      position: absolute;
      @include flex_center();
      font-size: 20px;
      width: 20px;
      height: 20px;
      font-weight: 700;
      border-radius: 100%;
      background-color: $pink-soft;
      color: white;
      padding: 4px;
      top: 0px;
      left: 0px;
      z-index: 10;
    }
  }

  &-card-inner {
    display: grid;
    grid-template-columns: 80px 1fr;
    background-color: white;
    height: 80px;
    gap: 10px;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
    &:hover {
      background-color: $gray-hover;
      .candidate-image {
        transform: scale(1.1);
      }
      .candidate-description {
        h3 {
          color: $pink-hover;
        }
      }
    }
  }

  &-image {
    &-wrapper {
      border-radius: 10px;
      overflow: hidden;
    }
    transition: 200ms all;
    width: 100%;
    height: 100%;
  }
  &-description {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      font-size: 17px;
      margin-bottom: 7px;
      display: flex;
      align-items: center;
      .count {
        margin-left: 5px;
        font-size: 12px;
        font-weight: 600;
      }
    }
    p {
      font-size: 13px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2;
    }
  }
}
