@import "@/_styles/variables.scss";
@import "@/_styles/keyframes.scss";

@keyframes candidate-add {
  0% {
    transform: scale(0);
    height: 0;
    opacity: 0;
  }
  30% {
    height: 96px;
  }

  60% {
    transform: scale(0);
    height: 96px;
  }
  100% {
    transform: scale(1);
    height: auto;
    min-height: 96px;
    opacity: 1;
  }
}
@keyframes image-candidate-add {
  0% {
    transform: scale(0);
    height: 0;
    opacity: 0;
  }
  30% {
    height: 154px;
  }

  60% {
    transform: scale(0);
    height: 154px;
  }
  100% {
    transform: scale(1);
    height: auto;
    min-height: 154px;
    opacity: 1;
  }
}

@keyframes candidate-delete {
  0% {
    transform: scale(1);
    min-height: auto;
    height: 96px;
    opacity: 1;
  }
  60% {
    transform: scale(0);
    height: 96px;
  }

  100% {
    transform: scale(0);
    height: 0;
    opacity: 0;
  }
}
@keyframes image-candidate-delete {
  0% {
    transform: scale(1);
    min-height: auto;
    height: 154px;
    opacity: 1;
  }
  60% {
    transform: scale(0);
    height: 154px;
  }

  100% {
    transform: scale(0);
    height: 0;
    opacity: 0;
  }
}

.candidate-card {
  .text-info {
    .title {
      width: calc(100% - 25px);
    }
  }
  &.isResultPage {
    .text-info {
      .title {
        width: 100%;
      }
    }
  }
}

.delete-candidate {
  position: absolute;
  top: 6px;
  right: 6px;
  @include flex();
  width: 26px;
  height: 26px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 100%;
  z-index: 20;
  i {
    font-size: 10px;
    color: $gray-hard;
  }
  &:hover {
    background-color: $pink-soft;
    i {
      color: white;
    }
  }
}
