@import "@/_styles/variables.scss";

@include shine;

.card {
  display: flex;
  position: relative;
  border-radius: 12px;
  background-color: var(--white);
  overflow: hidden;
  padding: 15px;

  @include mobile {
    padding: 5px;
  }

  &-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &.template {
      cursor: auto;
    }
  }

  &-inner {
    display: block;

    @media (hover: hover) {
      &.notTemplate:hover {
        .thumbnail {
          opacity: 0.85;
          &-inner {
            transform: scale(1.1);
          }
        }
        h1 {
          color: var(--pink-hard);
        }
      }
    }

    .text {
      margin-top: 15px;
      @include mobile {
        margin-top: 10px;
      }
      h1 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--black);
        @include mobile {
          font-size: 14px;
        }
      }
      h2 {
        font-size: 13px;
        line-height: 1.3;
        font-weight: 500;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        color: var(--black-soft);
        height: 50px;
        @include mobile {
          font-size: 11px;
          height: 30px;
          -webkit-line-clamp: 2;
        }
      }
    }
  }

  .thumbnail {
    overflow: hidden;
    border-radius: 10px;
    transition: all 250ms;

    @include mobile {
      border-radius: 5px;
    }

    &-inner {
      display: flex;
      width: 100%;
      height: var(--post-card-thumbnail-height);
      transition: all 250ms;

      .image {
        width: 100%;
        height: 100%;
      }
    }

    .loading {
      width: 100%;
      height: var(--post-card-thumbnail-height);
      border-radius: 8px;
      position: relative;
      background-color: var(--gray-soft);

      &::before {
        @include full;
        content: "";
        background: rgb(0, 0, 0);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 70%,
          rgba(255, 255, 255, 0.7) 80%,
          rgba(255, 255, 255, 0) 90%,
          rgba(255, 255, 255, 0) 100%
        );
        background-size: 200% 200%;
        animation: shine 1000ms 100ms infinite;
      }
    }
  }

  .info {
    width: 100%;

    .badge {
      margin-top: 12px;
      display: flex;
      &-main {
        @include badge-main;
      }
      @include mobile {
        display: none;
      }
    }
    .template-badge {
      color: var(--text-white);
      font-size: 14px;
      padding: 6px 12px;
      border-radius: 2px;
      .label {
        margin-left: 5px;
      }
      &.polling {
        background-color: var(--pink);
      }
      &.contest {
        background-color: var(--purple);
      }
      &.tournament {
        background-color: var(--orange);
      }
    }
    .mobile-badge {
      display: none;
      @include mobile {
        display: block;
      }
    }

    &-main {
      margin-top: 2px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mobile {
        margin-top: 12px;
        justify-content: flex-start;
        flex-direction: column;
        gap: 5px;
      }
    }
    .left {
      display: flex;
      align-items: center;
      @include mobile {
        width: 100%;
        padding: 0;
        justify-content: space-between;
      }
      .count {
        font-size: 15px;
        font-weight: 700;
        color: var(--black);
        @include mobile {
          font-size: 16px;
        }
      }
      .suffix {
        margin-left: 5px;
        font-size: 13px;
        color: var(--black-soft);
        @include mobile {
          font-size: 11px;
        }
      }
    }
    .right {
      display: flex;
      gap: 7px;
      @include mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        width: 100%;
      }
      & > button,
      a {
        padding: 10px 12px;
        border-radius: 6px;
        background-color: var(--gray-soft);
        @include flex();
        i,
        span {
          color: var(--black-soft);
          font-size: 14px;
        }
        span {
          margin-left: 8px;
        }
        @media (hover: hover) {
          &:hover {
            background-color: var(--pink);
            i,
            span {
              color: var(--text-white);
            }
          }
        }
        @include mobile {
          padding: 10px 0;
          border-radius: 3px;
          i,
          span {
            font-size: 12px;
          }
        }

        @include mobile-active {
          background-color: var(--pink);
          i,
          span {
            color: var(--text-white);
          }
        }
      }
      &.template {
        & > button {
          background-color: var(--purple-hard);
          i,
          span {
            color: var(--text-white);
          }
          @media (hover: hover) {
            &:hover {
              background-color: var(--purple-hard);
              i,
              span {
                color: var(--text-white);
              }
            }
          }
        }
      }
    }
  }
}
