@import "@/_styles/variables.scss";

@include shine;

.card {
  display: flex;
  position: relative;
  border-radius: 12px;
  background-color: var(--white);
  overflow: hidden;
  padding: 15px;

  &-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-inner {
    display: block;

    &:hover {
      .thumbnail {
        opacity: 0.85;
        &-inner {
          transform: scale(1.1);
        }
      }
      h1 {
        color: var(--pink-hard);
      }
    }

    .text {
      margin-top: 15px;
      h1 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h2 {
        font-size: 13px;
        line-height: 1.3;
        font-weight: 500;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        color: var(--black-soft);
        height: 50px;
      }
    }
  }

  .thumbnail {
    overflow: hidden;
    border-radius: 8px;
    transition: all 250ms;

    &-inner {
      display: flex;
      width: 100%;
      height: 150px;
      transition: all 250ms;

      .image {
        width: 100%;
        height: 100%;
      }
    }

    .loading {
      width: 100%;
      height: 150px;
      border-radius: 8px;
      position: relative;
      background-color: var(--gray-soft);
      &::before {
        @include full;
        content: "";
        background: rgb(0, 0, 0);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 70%,
          rgba(255, 255, 255, 0.7) 80%,
          rgba(255, 255, 255, 0) 90%,
          rgba(255, 255, 255, 0) 100%
        );
        background-size: 200% 200%;
        animation: shine 1000ms 100ms infinite;
      }
    }
  }

  .info {
    width: 100%;

    .badge {
      margin-top: 12px;
      display: flex;
      &-main {
        @include badge-main;
      }
    }
    &-main {
      margin-top: 2px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .left {
      padding: 0 0 0 3px;
      display: flex;
      align-items: center;
      .count {
        font-size: 18px;
        font-weight: 700;
      }
      .suffix {
        margin-left: 5px;
        font-size: 13px;
        color: var(--black-soft);
      }
    }
    .right {
      display: flex;
      gap: 7px;
      & > button,
      a {
        padding: 10px 12px;
        border-radius: 8px;
        background-color: var(--gray-soft);
        @include flex();
        i,
        span {
          color: var(--black-soft);
          font-size: 14px;
        }
        span {
          margin-left: 8px;
        }
        &:hover {
          background-color: var(--pink);
          i,
          span {
            color: var(--text-white);
          }
        }
      }
      .template {
        background-color: var(--purple-hover);
        i,
        span {
          color: var(--text-white);
        }
        &:hover {
          background-color: var(--purple-hard);
          i,
          span {
            color: var(--text-white);
          }
        }
      }
    }
  }
}
