@import "@/_styles/global.scss";
@import "@/_styles/variables.scss";

$bar-height: 36px;

@keyframes shine {
  to {
    background-position: -200% 0;
  }
}

.search-bar {
  width: 400px;
  height: 100%;
  @include flex_center();
  position: relative;
  input {
    width: calc(100% - 2px);
    height: $bar-height;
    background-color: $gray;
    border-radius: 42px;
    padding: 5px 25px;
    font-size: 0.875rem;
    z-index: 1;
    position: inherit;
  }

  .border {
    @include absolute_center();
    @include flex_center();
    width: 100%;
    height: calc($bar-height + 2px);
    border-radius: 42px;
    background: white;
    background-size: 200% 200%;
    opacity: 0;
    transition: 0.4s opacity;
    &::before {
      content: "";
      border-radius: 42px;
      width: calc(100% - 2px);
      height: $bar-height;
      background-color: white;
    }
    &.active {
      background: linear-gradient(45deg, $pink, #f5ff62, $pink);
      background-size: 200% 200%;
      animation: shine 2s linear infinite;
      opacity: 1;
    }
  }
}
