@import "@/_styles/variables.scss";

.init {
  width: $content-width;
  height: calc(100vh - 100px);
  @include flex();
  flex-direction: column;

  .type {
    &-wrapper {
      width: 70%;
      padding-bottom: 80px;

      h1 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 40px;
      }
    }
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      button {
        height: 250px;
        padding: 10px;
        @include border();
        border-radius: 20px;
        transition: all 300ms;
        & > div {
          @include flex();
          margin-bottom: 10px;
        }
        i {
          color: $gray-hard;
          font-size: 30px;
          transition: all 300ms;
        }
        .contest {
          display: inline-block;
          font-size: 30px;
        }
        span {
          color: $gray-hard;
          transition: all 300ms;
        }
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);

        &:hover {
          transform: translateY(-10px);
          border-color: $pink-hard;
          box-shadow: 0px 11px 12px rgba(0, 0, 0, 0.08);
          i,
          span {
            color: $pink-hard;
          }
        }
        &.active {
          border-color: $pink-hard;
          i,
          span {
            color: $pink-hard;
          }
          &:hover {
            transform: translateY(0);
            box-shadow: none;
          }
        }
      }
    }
  }
}
