@import "@/_styles/variables.scss";

.polling-post {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;

  .content {
    width: $content-width;
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px - 60px);
    padding: 12px;

    position: relative;

    @include border();
    border-radius: 10px;

    &.layout-text {
      .left {
        width: 65%;
        padding-right: 0;
        border: none;
      }
      .right {
        display: none;
      }
    }
  }

  .candidate-list {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .left {
    width: 400px;
    padding-right: 12px;
    border-right: 1px solid var(--border);
    overflow: scroll; //memo: 투표 페이지에서만
  }

  .right {
    width: 600px;
    padding-left: 12px;
    &-inner {
      width: 100%;
      .title {
        padding-left: 5px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        .icon {
          margin-right: 8px;
          width: 30px;
          height: 30px;
          background-color: var(--pink-soft);
          border-radius: 100%;
          @include flex();
          i {
            color: var(--text-white);
            font-size: 14px;
          }
        }
        span {
          font-size: 20px;
          font-weight: 700;
          padding-bottom: 1px;
        }
      }
      .title:last-of-type {
        margin-bottom: 20px;
      }
    }
  }

  .comment-wrapper {
    padding: 0 7px;
  }

  &.result {
    padding: 30px 0 100px 0;

    .polling-post-inner {
      height: 100%;
    }

    .left {
      overflow: visible;
    }

    .content {
      height: 100%;
      min-height: calc(100vh - 80px - 60px);
      &.layout-text {
        .left {
          width: 400px;
          padding-right: 12px;
          border-right: 1px solid var(--border);
        }
        .right {
          display: block;
        }
      }
    }
  }
}
