@import "@/_styles/variables.scss";

@keyframes overlay_animation {
  from {
    opacity: 0;
    @include z-index(overlay);
  }

  to {
    opacity: 1;
    @include z-index(overlay);
  }
}
@keyframes overlay_animation_rollback {
  from {
    opacity: 1;
    @include z-index(overlay);
  }

  99% {
    @include z-index(overlay);
  }
  to {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes search_overlay_animation {
  from {
    opacity: 0;
    @include z-index(overlay-search);
  }

  to {
    opacity: 1;
    @include z-index(overlay-search);
  }
}
@keyframes search_overlay_animation_rollback {
  from {
    opacity: 1;
    @include z-index(overlay-search);
  }

  99% {
    @include z-index(overlay-search);
  }
  to {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes aside_overlay_animation {
  from {
    opacity: 0;
    @include z-index(overlay-aside);
  }

  to {
    opacity: 1;
    @include z-index(overlay-aside);
  }
}
@keyframes aside_overlay_animation_rollback {
  from {
    opacity: 1;
    @include z-index(overlay-aside);
  }

  99% {
    @include z-index(overlay-aside);
  }
  to {
    z-index: -1;
    opacity: 0;
  }
}
.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  opacity: 0;
}
