@import "@/_styles/variables.scss";

.post {
  &-page {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .candidate-list {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}

.post-page .info {
  width: $content-width;
  border-left: 8px solid $pink;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    background-color: $pink-soft;
    height: 100%;
  }

  .title {
    padding-right: 50px;
    padding-bottom: 3px;
    h1 {
      font-size: 20px;
    }
    h2 {
      padding-top: 7px;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
    }
  }

  .profile {
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    .user-image {
      @include flex();
      padding: 3px;
      background-color: rgba(255, 138, 138, 0.2);
      border-radius: 100%;
      transition: all 220ms;

      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        transition: all 220ms cubic-bezier(0, 0.96, 0.44, 1.76);
      }

      &:hover {
        background-color: rgba(255, 138, 138, 0.35);
      }
      &:active {
        img {
          transform: scale(0.9);
        }
      }
    }

    .user-info {
      span {
        display: block;
      }
      span:first-of-type {
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 5px;
      }
      span:last-of-type {
        font-size: 12px;
        color: rgb(158, 158, 158);
      }
    }
  }
}

.post-page .content {
  width: $content-width;
  display: flex;
  height: calc(100vh - 80px - 100px - 35px);
  justify-content: center;

  position: relative;

  @include border();
  border-radius: 10px;
  padding: 12px;

  .left {
    width: 400px;
    padding-right: 12px;
    border-right: 1px solid $border;
    overflow: scroll; //memo: 투표 페이지에서만
  }

  .right {
    width: 600px;
    padding-left: 12px;
  }

  .result {
    width: 100%;
    .title {
      padding-left: 5px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      span {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 1px;
      }
      i {
        margin-right: 8px;
        padding: 8px;
        background-color: $pink-soft;
        color: white;
        border-radius: 100%;
        font-size: 14px;
        width: 14px;
        height: 14px;
      }
    }
    .title:last-of-type {
      margin-bottom: 20px;
    }
  }

  &.textOnly {
    .left {
      width: 65%;
      padding-right: 0;
      border: none;
    }
    .right {
      display: none;
    }
  }
}

.post-page.isResultPage {
  padding-bottom: 100px;
  .content {
    height: auto;
    .left {
      overflow: visible;
    }
  }
}
