@import "@/_styles/global.scss";
@import "@/_styles/variables.scss";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

.content-card {
  width: 50%;
  display: flex;
  position: relative;
  border-radius: 10px;
  background-color: white;
  padding: 15px;

  min-height: calc(100vh - 160px);

  .main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-left: 1px solid $border;
    padding-left: 15px;

    h1 {
      font-size: 17px;
      line-height: 1.4;
      font-weight: 700;
    }
  }

  .photos {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    width: 100%;
    height: 300px;
    overflow: hidden;

    .photo {
      width: 100%;
      height: 100%;
      cursor: pointer;
      overflow: hidden;
      & > div {
        width: 100%;
        height: 100%;
        transition: all 250ms;
      }
      &:hover {
        opacity: 0.8;
        & > div {
          transform: scale(1.1);
        }
      }
    }

    .loading {
      width: 100%;
      height: 300px;
      @include flex_center();
    }
  }

  .travel-info {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1.5fr;
    gap: 16px;
    padding-top: 20px;

    .map {
      width: 100%;
      background-color: $gray;
      border-radius: 10px;
    }
  }

  .todays-happened {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border: 1px solid $border;
    border-radius: 10px;

    .feelings {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding-bottom: 5px;
    }

    h3 {
      font-weight: bold;
      font-size: 13px;
      margin: 5px 0 8px 0;
      padding-left: 18px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: $pink;
      }
    }

    .spend-budget {
      width: 100%;
      display: flex;
      gap: 10px;
      align-items: center;

      .emo-image {
        width: 30px;
        height: 30px;
        @include flex_center();
        border: 1px solid $gray;
        border-radius: 100%;
        padding: 3px;
        img {
          width: 20px;
          height: 20px;
        }
      }

      .budget {
        &-wrapper {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-grow: 1;
        }
        &-count {
          .count {
            font-weight: 700;
          }
          .suffix {
            font-size: 14px;
          }
        }
      }
    }
  }

  .comment {
    width: 100%;
    margin-top: 15px;
    display: flex;
    gap: 12px;
    &-profile {
      img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
      }
    }
    &-text {
      padding-top: 2px;
      span {
        font-size: 15px;
        font-weight: 600;
      }
      p {
        margin-top: 4px;
        line-height: 1.2;
      }
    }
  }
}
