@import "@/_styles/variables.scss";

.home-page {
  background-color: $bg-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 180px;
  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 0;
    min-height: calc(100vh - 60px);
  }
}

.home-infinity-observer {
  height: 50px;
}
