@import "@/_styles/variables.scss";

.home-page {
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  width: 100%;
  &-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0;
    min-height: calc(100vh - 60px);
  }
}
