@import "@/_styles/variables.scss";

$side-width: 300px;

.header {
  width: 100%;
  min-height: 60px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  @include z-index(header);

  border-bottom: 1px solid rgba(214, 214, 214, 0.7);
  background-color: var(--white);

  @include medium {
    .center {
      flex-grow: 1;
      padding: 0 10px;
    }
    padding: 5px 8px;
    min-height: 50px;
  }

  .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: calc(60px - 20px);
  }

  .left {
    width: $side-width;
    display: flex;
    align-items: center;
    button {
      width: 42px;
      height: 100%;
      border-radius: 100%;
      .icon {
        @include flex;
        i {
          font-size: 17px;
        }
      }
      &:active {
        background-color: var(--border);
      }
    }
    @include medium {
      width: auto;
      button {
        padding: 0 5px;

        .icon i {
          font-size: 15px;
        }
      }
    }
  }
  .center {
    @include flex;
  }

  .right {
    width: $side-width;
    a,
    button {
      padding: 9px 15px;
      border-radius: 6px;
      span {
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--text-white);
      }
    }

    .save {
      @include flex;
      background-color: var(--purple);
      &:hover {
        background-color: var(--purple-hover);
      }
      i {
        @include full;
        color: var(--text-white);
        font-size: 15px;
        transition: 300ms all;
      }
      span {
        margin-left: 5px;
      }
      .icon {
        position: relative;
        width: 15px;
        height: 15px;
        .check {
          transform: rotateY(90deg);
        }
      }
      &.saved {
        background-color: var(--green);
        .disk {
          transform: rotateY(90deg);
        }
        .check {
          transform: rotateY(0deg);
        }
      }
    }
    .pc {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      gap: 10px;
      .login {
        width: 80px;
        background-color: var(--pink);
        @include flex();
        &:hover {
          background-color: var(--pink-hard);
        }
      }
      .new-post {
        background-color: var(--purple);
        &:hover {
          background-color: var(--purple-hover);
        }
      }
    }
    .mobile {
      display: none;
    }

    @include medium {
      width: auto;
      .pc {
        display: none;
      }
      .mobile {
        @include flex;
        height: 100%;
        button {
          width: 42px;
          display: block;
          height: 100%;
          padding: 0 5px;
          border-radius: 100%;
          i {
            font-size: 15px;
          }
          &:active {
            background-color: var(--border);
          }
        }
      }
    }
  }
}

.ghost {
  height: calc(40px + 20px);
  @include mobile {
    height: calc(50px);
  }
}
