@import "@/_styles/variables.scss";

$bar-height: 36px;

@include shine;

.search-bar {
  width: 400px;
  position: relative;

  input {
    width: calc(100% - 2px);
    height: $bar-height;
    background-color: var(--gray-soft);
    border-radius: 42px;
    padding: 5px 25px;
    font-size: 0.875rem;
    position: inherit;
    z-index: 10;
  }

  .border {
    @include center();
    @include flex();
    width: 100%;
    height: calc($bar-height + 2px);
    border-radius: 42px;
    background: var(--white);
    background-size: 200% 200%;
    opacity: 0;
    transition: 0.4s opacity;
    &::before {
      content: "";
      border-radius: 42px;
      width: calc(100% - 2px);
      height: $bar-height;
      background-color: var(--white);
    }
    &.active {
      @include bg-shine();
      opacity: 1;
    }
  }
}
