@import "@/_styles/variables.scss";

.info {
  width: $content-width;
  border-left: 8px solid $pink;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  max-height: 80px;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    background-color: $pink-soft;
    height: 100%;
  }

  .title {
    padding: 5px 0;
    width: 100%;
    h1 {
      font-size: 20px;
    }
    h2 {
      padding-top: 7px;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
    }

    input {
      width: 100%;
      display: block;
      background-color: rgba(234, 234, 234, 0.4);
    }
    .title-input {
      font-size: 20px;
      font-weight: 700;
      padding: 5px;
      margin-bottom: 2px;
    }

    .description-input {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
      padding: 5px;
    }
  }

  .profile {
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .user-icon {
    @include flex();
    padding: 3px;
    border-radius: 100%;
    transition: all 220ms;

    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      transition: all 220ms cubic-bezier(0, 0.96, 0.44, 1.76);
    }
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      @include flex();
      color: white;
      font-weight: 700;
      font-size: 20px;
    }

    &:active {
      img,
      .icon {
        transform: scale(0.9);
      }
    }
  }

  .user-info {
    span {
      display: block;
    }
    span:first-of-type {
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 5px;
    }
    span:last-of-type {
      font-size: 12px;
      color: rgb(158, 158, 158);
    }
  }
}
