@import "@/_styles/variables.scss";

@include scale-up;

.find-email {
  .input-container {
    width: 100%;
    margin-top: 10px;
    .input {
      position: relative;
      input {
        width: 100%;
        position: relative;
        z-index: 10;
        @include border;
        border-radius: 8px;
        padding: 15px 13px;
        margin: 7px 0;
        font-size: 14px;
        color: var(--black-soft);
        &.active {
          border-color: var(--purple);
        }
      }
      label {
        position: absolute;
        color: var(--gray);
        font-size: 14px;
        top: 0;
        left: 0;
        z-index: 0;
        transform: translate(14px, 24px);
        transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 350ms;
        &.active {
          z-index: 20;
          background-color: var(--white);
          transform: scale(0.85) translate(10px, 0px);
          color: var(--purple-hover);
        }
      }
    }
  }

  .find-email-btn {
    margin-top: 5px;
    button {
      border-radius: 8px;
      background-color: var(--purple);
      padding: 15px 13px;
      width: 100%;
      &:hover {
        background-color: var(--purple-hover);
      }
    }
    span {
      color: var(--text-white);
      font-weight: 700;
      font-size: 14px;
    }
  }
}
