@import "@/_styles/variables.scss";

.no-thumbnail {
  &.post-card {
    width: 100%;
    height: var(--post-card-thumbnail-height);
    border-radius: 15px;
    background: var(--gray-soft);
    @include mobile {
      height: var(--post-card-thumbnail-height)-mobile;
    }
  }

  @include flex();
  & > div {
    display: flex;
    gap: 8px;
    @include mobile {
      gap: 4px;
    }
  }

  i {
    font-size: 20px;
    color: var(--pink-soft);
    @include mobile {
      font-size: 16px;
    }
  }
}
