@import "@/_styles/variables.scss";

@include scale-up;

.tournament-post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  &.result {
    padding-bottom: 100px;
    .content {
      height: auto;
      min-height: calc(100vh - 100px - 60px);
    }
  }
}

.content {
  width: $content-width;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-soft);
  height: calc(100vh - 100px - 80px);
  margin-bottom: 50px;

  position: relative;

  @include border();
  border-radius: 10px;

  &.result {
    overflow: hidden;
    background-color: var(--white);
  }

  .loading {
    display: flex;
    gap: 10px;
    i {
      font-size: 30px;
      color: var(--pink-soft);
    }
  }
}

.tournament-post-inner {
  width: 100%;
  height: 100%;
  @include flex();
}

.round-select {
  @include center();
  width: 300px;
  @include z-index(modal);
  .inner {
    width: 100%;
    @include modal-inner;
    padding: 20px;
  }

  h3 {
    font-size: 16px;
    line-height: 1.4;
    color: var(--black-soft);
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    li {
      width: 100%;
      display: block;
    }
    button {
      background-color: var(--white);
      width: 100%;
      display: block;
      padding: 10px 15px;
      @include border();
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: var(--black-soft);
        font-size: 14px;
      }
      i {
        transition: all 240ms;
        color: var(--gray-hard);
      }
      @media (hover: hover) {
        &:hover {
          border-color: var(--pink-hard);
          i {
            color: var(--pink-hard);
            transform: translateX(5px);
          }
          span {
            color: var(--pink-hard);
          }
        }
      }
    }
  }
}

.tournament-comment {
  width: $content-width;
  padding: 0 100px;
}
