@import "@/_styles/variables.scss";

.grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include mobile {
    gap: 15px;
  }
}

.content {
  @include mobile {
    padding: 30px !important;
  }
}
