@import "@/_styles/variables.scss";

.description-input {
  @include flex();
  flex-direction: column;
  width: 100%;
  input {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    background-color: var(--gray-soft);
    padding: 7px 15px;
  }
  textarea {
    width: 100%;
    background-color: var(--gray-soft);
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    padding: 7px 15px;
  }
}

.drop-zone {
  cursor: pointer;
  @include flex();
  &:hover,
  &.active {
    background-color: var(--gray-soft);
    &::before {
      border-color: var(--pink);
      opacity: 0.3;
    }
    i {
      color: var(--pink-hard);
    }
  }
  i {
    color: var(--gray-hard);
    font-size: 40px;
  }
}
