@import "@/_styles/variables.scss";

//memo: 덮어 씌우기

.post-info-title {
  width: 60%;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  input {
    width: 100%;
    display: block;
    background-color: rgba(234, 234, 234, 0.4);
  }
  .post-title-input {
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 2px;
  }

  .post-description-input {
    font-size: 14px;
    padding: 5px;
  }
}

.edit-wrapper {
  padding-bottom: 50px;
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    color: $gray-hard;
  }

  &.layout-selector-wrapper {
    padding-bottom: 80px;
  }
}

.thumbnail-wrapper {
  .thumbnail {
    width: 440px;
    height: 200px;
    &-image {
      width: 100%;
      height: 100%;
      display: block;
      overflow: hidden;
      border-radius: 15px;

      & > div {
        width: 100%;
        height: 200px;
        transition: all 250ms;
      }
    }
  }
  .thumbnail-image {
    border-radius: 12px;
    width: 440px;
    height: 200px;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border: 5px solid $gray-soft;
    }

    cursor: pointer;
    @include flex();
    &:hover,
    &.active {
      background-color: $gray-soft;
      &::before {
        border-color: $pink;
        opacity: 0.3;
      }
      i {
        color: $pink-hard;
      }
    }
    i {
      color: $gray-hard;
      font-size: 40px;
    }
  }
}

.layout-selector {
  &-wrapper {
    width: 100%;
  }
  &-inner {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  width: 200px;

  .icon-wrapper {
    @include border();
    border-radius: 10px;
    padding: 15px;
    i {
      font-size: 25px;
      color: $gray-hard;
    }
    .fa-plus {
      font-size: 14px;
      margin: 0 5px;
    }
    margin-bottom: 10px;
  }
  span {
    font-size: 14px;
    color: $gray-hard;
  }

  &:hover,
  &.active {
    .icon-wrapper {
      border-color: $pink-hard;
      i {
        color: $pink-hard;
      }
    }
    span {
      color: $pink-hard;
    }
  }
}
