@import "@/_styles/variables.scss";
@import "@/_styles/post.scss";

//memo: 덮어 씌우기
.post-page {
  padding: 0;
}
.new-post-page {
  padding: 30px 0 40px 0;
  &.isInit {
    padding-bottom: 0;
  }
}
.new-post-page .title {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  input {
    width: 100%;
    display: block;
    background-color: rgba(234, 234, 234, 0.4);
  }
  .title-input {
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 2px;
  }

  .description-input {
    font-size: 14px;
    padding: 5px;
  }
}

.new-post-page .edit-wrapper {
  padding-bottom: 50px;
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    color: $gray-hard;
  }

  &.layout-selector-wrapper {
    padding-bottom: 80px;
  }
}

.new-post-page .candidate-style-edit {
  width: 100%;
  padding-bottom: 50px;

  .inner {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .card {
    width: 200px;

    .icon-wrapper {
      @include border();
      border-radius: 10px;
      padding: 15px;
      i {
        font-size: 25px;
        color: $gray-hard;
      }
      .fa-plus {
        font-size: 14px;
        margin: 0 5px;
      }
      margin-bottom: 10px;
    }
    span {
      font-size: 14px;
      color: $gray-hard;
    }

    &:hover,
    &.active {
      .icon-wrapper {
        border-color: $pink-hard;
        i {
          color: $pink-hard;
        }
      }
      span {
        color: $pink-hard;
      }
    }
  }
}
